USE [dbCITEmpleado]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrador')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[catFechasEspeciales]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catFechasEspeciales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](250) NULL,
	[descripcion] [nvarchar](200) NULL,
	[inicio] [float] NULL,
	[fin] [float] NULL,
	[clase] [nvarchar](30) NULL,
	[todoElDia] [bit] NULL,
	[tipo] [int] NULL,
	[ignorarHorario] [bit] NULL,
 CONSTRAINT [PK_catFechasEspeciales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[catFechasEspeciales] ON
INSERT [dbo].[catFechasEspeciales] ([id], [titulo], [descripcion], [inicio], [fin], [clase], [todoElDia], [tipo], [ignorarHorario]) VALUES (73, N'Día no laboral', N'Hoy se celebrara un evento en el teatro Juarez, favor de presentarse en la plaza a las 10:30', 1430956800000, 1431018000000, N'diaFestivo', 0, 1, 1)
INSERT [dbo].[catFechasEspeciales] ([id], [titulo], [descripcion], [inicio], [fin], [clase], [todoElDia], [tipo], [ignorarHorario]) VALUES (74, N'Día laboral', N'Mañana vendrá el ESPERTIZEEEE, no faltar por favor', 1431162000000, 1431190800000, N'laborForzosa', 0, 2, 1)
INSERT [dbo].[catFechasEspeciales] ([id], [titulo], [descripcion], [inicio], [fin], [clase], [todoElDia], [tipo], [ignorarHorario]) VALUES (75, N'Este día no se permiten permisos', N'Evento importante, no se debe ausentar nadie', 1431050400000, 1431104400000, N'noPermisos', 0, 3, 0)
SET IDENTITY_INSERT [dbo].[catFechasEspeciales] OFF
/****** Object:  Table [dbo].[catCategorias]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[catCategorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nomCategoria] [char](50) NULL,
	[hraEntAsignada] [time](7) NULL,
	[hraSalAsignada] [time](7) NULL,
 CONSTRAINT [PK_catCategorias] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[catCategorias] ON
INSERT [dbo].[catCategorias] ([idCategoria], [nomCategoria], [hraEntAsignada], [hraSalAsignada]) VALUES (1, N'Confianza                                         ', CAST(0x0700587660670000 AS Time), CAST(0x070086CFD6780000 AS Time))
INSERT [dbo].[catCategorias] ([idCategoria], [nomCategoria], [hraEntAsignada], [hraSalAsignada]) VALUES (2, N'Sindicalizado                                     ', CAST(0x070074053F470000 AS Time), CAST(0x07001882BA7D0000 AS Time))
SET IDENTITY_INSERT [dbo].[catCategorias] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6319358d-dfec-4f7e-b9ac-ac62759d3353', NULL, 0, N'AAKRJjQjX/MGmYpvr9w5ujSIqJSGXqwNBh8YQvLEcZf9W2lC/C03MqH7j/7Ngxp2vg==', N'726e81b4-fad7-4a4f-b248-5dc339cc541b', NULL, 0, 0, NULL, 0, 0, N'desarrollo5')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6be87aa3-754e-4f92-be78-bbe66ca90fab', NULL, 0, N'AJr0KjFGJcjyX/YFeHoYlEsE3nW+2Me8wk4qZbE/3+sQPEEiwdPYO9gLMSTnI8HCBA==', N'88b6f7b4-cd3d-418d-82a9-26141277cc62', NULL, 0, 0, NULL, 0, 0, N'servando')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7767b6aa-626f-4b0f-9692-056a5d33ac66', NULL, 0, N'AHVVAyYZQhp53/fZQq7d3PmOwwwEqFgK3U0tKePPsMoa7QeXL1n8fjpsiifWLZJ6GQ==', N'8a6fd96a-dd77-4962-a5e7-c3e44407e34a', NULL, 0, 0, NULL, 0, 0, N'desarrollo3')
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd64ed6ed-ac0c-4a91-aeef-7ccff0264581', N'1')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catEmpleado]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catEmpleado](
	[noEmpleado] [int] NOT NULL,
	[nomEmpleado] [nvarchar](80) NULL,
	[patEmpleado] [nvarchar](60) NULL,
	[matEmpleado] [nvarchar](60) NULL,
	[tipoEmpleado] [int] NULL,
	[id] [nvarchar](128) NULL,
	[noHorasAginadas] [int] NULL,
 CONSTRAINT [PK_catEmpleado] PRIMARY KEY CLUSTERED 
(
	[noEmpleado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[catEmpleado] ([noEmpleado], [nomEmpleado], [patEmpleado], [matEmpleado], [tipoEmpleado], [id], [noHorasAginadas]) VALUES (666, N'SERVANDO', N'DE LA CRUZ', N'BORREGO', 1, N'6be87aa3-754e-4f92-be78-bbe66ca90fab', 8)
INSERT [dbo].[catEmpleado] ([noEmpleado], [nomEmpleado], [patEmpleado], [matEmpleado], [tipoEmpleado], [id], [noHorasAginadas]) VALUES (1634, N'ARTORIAS', N'PEREZ', N'PEREZ', 2, N'7767b6aa-626f-4b0f-9692-056a5d33ac66', 4)
INSERT [dbo].[catEmpleado] ([noEmpleado], [nomEmpleado], [patEmpleado], [matEmpleado], [tipoEmpleado], [id], [noHorasAginadas]) VALUES (4361, N'SERVANDO', N'BORREGO', N'BORREGUIN', 2, N'c437003c-e9e2-474b-b362-3dfd069f4232', 8)
/****** Object:  Table [dbo].[catPermisos]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catPermisos](
	[idPermiso] [int] NOT NULL,
	[motivoPermiso] [nvarchar](200) NULL,
	[observaciones] [nvarchar](250) NULL,
	[horaSalida] [datetime] NULL,
	[horaLlegada] [datetime] NULL,
	[noEmpleado] [int] NULL,
	[autorizado] [bit] NULL,
	[fechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_catPermisos] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catHistorial]    Script Date: 05/07/2015 14:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catHistorial](
	[idHistorial] [int] IDENTITY(1,1) NOT NULL,
	[noEmpleado] [int] NULL,
	[hraEntrada] [datetime] NULL,
	[hraSalida] [datetime] NULL,
	[fechaRegistro] [date] NULL,
 CONSTRAINT [PK_catHistorial] PRIMARY KEY CLUSTERED 
(
	[idHistorial] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_catEmpleado_AspNetUsers]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[catEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_catEmpleado_AspNetUsers] FOREIGN KEY([id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[catEmpleado] CHECK CONSTRAINT [FK_catEmpleado_AspNetUsers]
GO
/****** Object:  ForeignKey [FK_catEmpleado_catCategorias]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[catEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_catEmpleado_catCategorias] FOREIGN KEY([tipoEmpleado])
REFERENCES [dbo].[catCategorias] ([idCategoria])
GO
ALTER TABLE [dbo].[catEmpleado] CHECK CONSTRAINT [FK_catEmpleado_catCategorias]
GO
/****** Object:  ForeignKey [FK_catHistorial_catEmpleado]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[catHistorial]  WITH CHECK ADD  CONSTRAINT [FK_catHistorial_catEmpleado] FOREIGN KEY([noEmpleado])
REFERENCES [dbo].[catEmpleado] ([noEmpleado])
GO
ALTER TABLE [dbo].[catHistorial] CHECK CONSTRAINT [FK_catHistorial_catEmpleado]
GO
/****** Object:  ForeignKey [FK_catPermisos_catEmpleado]    Script Date: 05/07/2015 14:02:15 ******/
ALTER TABLE [dbo].[catPermisos]  WITH CHECK ADD  CONSTRAINT [FK_catPermisos_catEmpleado] FOREIGN KEY([noEmpleado])
REFERENCES [dbo].[catEmpleado] ([noEmpleado])
GO
ALTER TABLE [dbo].[catPermisos] CHECK CONSTRAINT [FK_catPermisos_catEmpleado]
GO
