
@{
    Layout = null;
}
@if (ViewBag.exito != null)
{
    <h1 class="text-success">Exito en la operación.</h1>
    <h2 class="text-success">@ViewBag.exito</h2>

}
else
{
    <h1 class="text-success">Exito en la operación.</h1>
}