@using SistemaHorarios.Helpers
@{
    ViewBag.Title = "Index";
}
<link href="~/Scripts/FullCalendar/fullcalendar.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        @{Html.RenderAction("Perfil");}
                    </div>
                </div>
                @Html.MenuOpciones(User, "list-group", "list-group-item")
            </div>
            <div id="contenedor" class="col-lg-8">
                <h1>Bienvenido</h1>
                <p>Modulo de Control de Horarios Cinotam</p>
                <h2>Calendario de Actividades</h2>
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Significado de colores</h3>
                            <div class="diaFestivo text-center" style="width:auto; height:30px">
                                Dia festivo.
                            </div>
                            <div class="laborForzosa text-center" style="width:auto; height:30px">
                                Fin de semana forzado.
                            </div>
                            <div class="noPermisos text-center" style="width:auto; height:30px">
                                Dia sin permisos.
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div id="calendarioAct">


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Large modal -->
<div class="modal fade" tabindex="-1" id="modalPermisos" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Permisos</h4>
            </div>
            <div class="modal-body" id="modalContenedor">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle</h4>
            </div>


            <div class="modal-body" id="contenedorDetalle">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/Scripts/FullCalendar/moment.min.js"></script>
<script src="~/Scripts/FullCalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/FullCalendar/es.js"></script>
<script src="~/Scripts/Sitio/Index.js"></script>
}


